<<<<<<< HEAD
<div class="container">
	<h1><span class="label label-danger"><%= link_to 'Danger', games_path %></span></h1>
</div>
=======
<p><%= button_to "Play as Guest!", signup_path, method: :post  %></p>
>>>>>>> 80c6f35c193e5da7321f66c4f1dd7f62dfc9e31d
